<h1>Profile for User <%= @user.id %></h1>
<div class="user">Name: <%= @user.fname + ' ' + @user.lname %></div>
<div class="username">Username: <%= @user.username %></div>
<div class="date">Create Date: <%= @user.created_at %></div>
<br/>
<hr/>
<br/>
<% @posts.each do |post| %>
  <div class="postContainer">
    <div class="postTitle">Title: <%= post.post_title %></div>
    <div class="postContent"><%= post.post %></div>
  </div>
<% end %>
