<%= form_for(@post) do |p| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2>
      <%= pluralize(@post.errors.count, "error") %> prohibited this user from being saved:      
    </h2>
    
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div class="field">
    <%= p.label :post_title %><br/>
    <%= p.text_field :post_title %>
  </div>
  
  <div class="field">
    <%= p.label 'Authored by' %><br/>
    <%= text_field_tag :username, params[:username]  %>
  </div>
  
  <div class="field">
    <%= p.label 'Post' %><br/>
    <%= p.text_area :post %>
  </div>
  
  <div class="actions">    
    <%= p.submit %>
  </div>
<% end %>
