<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>      
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <ul id="menu">
    <li><%= link_to 'Home', home_index_path() %></li>
    <li><%= link_to 'Users', users_path() %></li>
    <li><%= link_to 'Posts', posts_path() %></li>
  </ul>
    

<%= yield %>
<%= debug(params) if Rails.env.development? %>
<%= debug(session[:user_id]) if Rails.env.development? %>
</body>
</html>
